[Unit]
Description={{ framework_name }} update poller timer (%i)

[Timer]
OnBootSec=90s
OnUnitActiveSec=60s
Unit={{ framework_name }}-update-check@%i.service
AccuracySec=30s

[Install]
WantedBy=timers.target
